nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #201e1e;
    padding: 1rem;
}

.title > img {
    width: 50px;
    margin-right:0.5rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #61dafb;
    font-weight: 900;
}

nav > h3{
    color: #dbd7d7;
}

